<div class="timeline__container" (appear)="onAppear()"> 
  <h1 class="title">TIMELINE</h1>
  <div class="header__bar" *ngIf="hasAppeared" @fadeSlide>&nbsp;</div>
  <div class="timeline" @fadeSlideInLeft @fadeSlideInRight *ngIf="hasAppeared">
    <div class="container left">
      <div class="content-left">
        <h2>2017</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container right">
      <div class="content-right">
        <h2>2016</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container left">
      <div class="content-left">
        <h2>2017</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container right">
      <div class="content-right">
        <h2>2016</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container left">
      <div class="content-left">
        <h2>2017</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
  </div>
</div>
