<div class="projects__container">
  <h1 class="header">My Projects</h1>
  <div class="row">
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <p class="project__description">
      dfsgdfsgfdgdfgfdgdfgdfgfdgdfgdfgdfgdfgdfgdfgdfg
    </p>
  </div>
  <div class="row">
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <p class="project__description">
      dfsgdfsgfdgdfgfdgdfgdfgfdgdfgdfgdfgdfgdfgdfgdfg
    </p>
  </div>
  <div class="row">
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <p class="project__description">
      dfsgdfsgfdgdfgfdgdfgdfgfdgdfgdfgdfgdfgdfgdfgdfg
    </p>
  </div>
  <div class="row">

  </div>
</div>
