<div class="projects__container">
  <h1 class="title">Projects</h1>
  <div class="row">
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <iframe class="project__video"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
  </div>
</div>
