.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
}

.projects__container {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 200px;
}

.project__video {
  flex: 0 500px;
  height: 290px;
}

.project__description {
}

.header {
  text-align: center;
}