<div class="contact__container" (appear)="onAppear()">
  <h1 class="title">Contact Me</h1>
  <div class="header__bar" *ngIf="hasAppeared" @fadeSlide>&nbsp;</div>
  <form [formGroup]="contactForm" *ngIf="hasAppeared" @fadeSlideGrowKeyFrame>
    <div class="form__group">
      <label class="form__label">First Name</label>
      <input
        class="form__control"
        formControlName=firstName
        type="text" />
      <label class="form__label">Last Name</label>
      <input 
        class="form__control"
        type="text" />
      <label class="form__label">Email</label>
      <input 
        class="form__control"
        type="text" />
      <label class="form__label">Comments</label>
      <textarea 
        id="comments"
        class="form__control"
        type="text">
      </textarea>
      <button 
        class="form__button"
      >SUBMIT</button>
    </div>
  </form>
</div>
