.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: #3A3F51;
  color: #ffffff;
}

form {
  width: 40%;
}

.form__group {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.form__control {
  height: 30px;
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 5px;
}

button {
  height: 40px;
  width: 25%;
  background-color: #3A3F51;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  font-size: 16px;

  &:hover {
    background-color: #BB98B5;
    cursor: pointer;
  }
}

#comments {
  height: 150px;
}
