.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: #3A3F51;
  color: #ffffff;
  padding: 130px 0 30px 0;
}

form {
  width: 35%;
}

.form__group {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.form__control {
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 3px 10px;
}

.form__label {
  margin-bottom: 5px;
}

button {
  height: 60px;
  width: 25%;
  background-color: #3A3F51;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  font-size: 16px;

  &:hover {
    background-color: #BB98B5;
    cursor: pointer;
  }
}

#comments {
  height: 150px;
}

.title {
  align-self: center;
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 0;
}

.header__bar {
  background: #ffffff;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 60px;
}
