<div class="skills__container" (appear)="onAppear()">
  <h1 class="title">Skills</h1>
  <div class="header__bar">&nbsp;</div>
    <div *ngIf="hasAppeared"> 
      <div class="icon__container" @fade> 
        <div class="parent">
          <div class="hex2"></div>
          <i class="image fa-solid fa-laptop fa-2xl" style="color: #ffffff;"></i>
          <h2>Fast</h2>
          <p class="description">sdfsdfsd</p>
        </div>
        <div class="parent">
          <div class="hex2"></div>
          <i class="image fa-solid fa-laptop fa-2xl" style="color: #ffffff;"></i>
          <h2>Responsive</h2>
          <p class="description">Fast load times and lag free interaction</p>
        </div>
        <div class="parent">
          <div class="hex2"></div>
          <i class="image fa-solid fa-laptop fa-2xl" style="color: #ffffff;"></i>
          <h2>Intuitive</h2>
          <p class="description">sdfsdfsdf</p>
        </div>
        <div class="parent">
          <div class="hex2"></div>
          <i class="image fa-solid fa-laptop fa-2xl" style="color: #ffffff;"></i>
          <h2>Dynamic</h2>
          <p class="description">sdfsdfsdf</p>
        </div>
      </div>
      <div class="container">
        <div class="col">
          <p @fadeSlideIn>
            sfdgfdgdfgdfgfdgdfgf
            dfgdfgdfgdfgdrfgdfgfd
            dfgdfgdfgdfgdfgdfgdfg
            dfgdfgdfgdfgdgdfgdfgfd
            fdsgfdgfdgdfgdfgdfgdfg
            dfgdfgdfgdfgdfgdfgdfgdf
            dfgdfgdfgfgdfgdfgdfgdfg
            dgdfgdfgdfgdfgdfgdfgdfg
            dfgdfgdfgfdgdfgdfgdffgdfg
            dfgdfgdfgdfgdfgdfgdfgdfg
            dfgdfgfdgdfgdfgdfgdfgdfg
          </p>
        </div>
        <div class="col">
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
          <div class="skill__container">
            <div class="skill__text">
              <span class="skill__name">Skill 1</span>
            </div>
            <div class="skill__bar">
              <div class="myProgress">
                <div class="myBar" [@loading]="progress === 0 ? 'start':'end'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
