<div class="skills__container">
  <h1 class="title">Skills</h1>
  <div class="row">
    <div class="col">
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
      <div class="skill__container">
        <div class="skill__text">
          <span class="skill__name">Skill 1</span>
          <span class="skill__years">2 years</span>
        </div>
        <div class="skill__bar">
          <div class="myProgress">
            <div class="myBar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
