<div>
  <div class="toolbar">
    <div class="title">
      Justin Miller
    </div>
    <div class="navbar">
      <a>Home</a>
      <a>About</a>
      <a>Projects</a>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="greeting__container">
        <p class="greeting__header">Hi, Im Justin.</p>
        <p class="greeting">
          A Full Stack Web Developer from New York City.<br>
          Passion for creating quality software and working<br>
          with great people.
        </p>
      </div>
      <img src="../assets/dog-placeholder.jpg" class="profile__image">
    </div>
    
  </div>
  <router-outlet></router-outlet>
</div>

