<div class="row">
  <div class="primary col">
    <p class="greeting__header">Hi, Im Justin.</p>
    <p class="greeting">
      A Full Stack Web Developer from New York City.<br>
      Passion for creating quality software and working<br>
      with great people.
    </p>
    <button class="contact__button">Contact Me</button>
    <button class="projects__button">My Projects</button>
  </div>
  <div class="secondary col">
    <img src="../assets/dog-placeholder.jpg" class="profile__image">
  </div>
</div>
