.bio__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1b242f;
  color: #ffffff;
  height: 850px;
  width: 100%;
}

.greeting__container {
  width: 750px;
}

.greeting {
  font-size: 30px;
  margin-top: 30px;
}

.typed-container {
  height: 100px;
}

.typed-element {
  font-size: 100px;
}

.profile__image {
  height: 425px;
  width: 360px;
  margin-left: 40px;
  margin: 0 auto;
}

.projects__button {
  height: 50px;
  width: 185px;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 550;
  background-color: #1b242f;
  border: 2px solid #f5f5f5;
  margin-right: 10px;

  &:hover {
    background-color: #BB98B5;
    cursor: pointer;
  }
}

.contact__button {
  height: 50px;
  width: 185px;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 550;
  background-color: #1b242f;
  border: 2px solid #f5f5f5;

  &:hover {
    background-color: #BB98B5;
    cursor: pointer;
  }
}

@media (min-width: 450px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .col {
    align-self: center;
  }
  .greeting__header {
    
  }
}

@media (min-width: 769px) {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col {
    align-self: center;
  }
}

@media (min-width: 1025px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .title {
    margin-right: auto;
  }
}
