<div class="modal {{size}}">
  <img class="modal-image" src="../../assets/website-card.jpg"/>
  <div class="modal-content">
    <h1 class="modal-header">Header</h1>
    <p class="modal-text">
      sdfdsfdsfsdfdsfdsfdsfds
      sdfsdfdsfdsfdsfdsfsdfds
      sdfdsfdsfdsfsdfdsfdsfdsf
      sdfdsfdsfsdfdsfdsfsdfdsf
      dsfdsfdsfsdfdsfdsfsdfdsf
    </p>
  </div>
  <div class="modal-footer">
    <a href="https://www.angular.com" class="modal-button">Visit Site</a>
    <a href="https://www.angular.com" class="modal-button">GitHub</a>
  </div>
</div>

<div class="modal-backdrop" (click)="close()"></div>
